
#  Hna ghadi Tzid Chi 3am Ila bghiti !

[years]
years = 2008,2009,2010,2011,2012,2013,2014,2015,2016



# [ ar9am 3chwa2in ]
#  0 to 100 ghadi tzad les info lighadi taht Zid wla n9ass ila bghiti

[nums]
from=0
to=10

# [ Soon  ]
# This setting will exclude words from compiled wordlist that are shorter than [wcfrom] and longer than [wcto].

wcfrom=5
wcto=12

# Hadi ghadi nhatjouha mnin gadi nbdaw ntwarou script Coming soon matsw9ch liha
# Threshold setting for word concatenations parsed from existing wordlist (using -w option).
# For example, from 200 words CUPP will compile 200*200=40,000 new words.
# Increasing this level may cause high memory consumption, be careful.

threshold=200


